{% extends '::base.html.twig' %}

{% block title %}Error {{ status_text }}{% endblock %}

{% block subnavigation %}{% endblock %}
{% block subnavigation_user %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content_full %}
    <div class="row page-error">
        <div class="col-md-12">
            <div class="number text-muted">{{ status_code }}</div>
            <div class="message">
                <h2>Oops! An Error Occurred.</h2>
                <p>
                    The server returned a "{{ status_code }} {{ status_text }}".
                    <br/>
                    Return to the <a href="{{ path('doh_main_dashboard') }}">dashboard</a> or try the search bar below.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block keyboard_control %}{% endblock %}
