{% macro menu_links(links, depth) %}
    {% import _self as macros %}
    {% for item in links %}
        <li{% if loop.first %} class="active"{% endif %}>
            <a href="{{ item.link }}">
                <i class="{% if item.properties.icon_class is defined %}{{ item.properties.icon_class }}{% endif %}"></i>
                {% if depth == 0 %}
                    <span class="title">{{ item.title }}</span>
                {% else %}
                    {{ item.title }}
                {% endif %}
            </a>
            {% if item.children %}
                <ul>
                    {{ macros.menu_links(item.children, depth+1) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<aside class="page-sidebar">
    <ul>
        {{ macros.menu_links(menu.children, 0) }}
    </ul>
</aside>
