{% import "menu_macro.twig" as _menu %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title_full %}DoH - {% block title %}Dashboard{% endblock %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

    </head>
    <body>
        {% block body %}
            <header class="doh-masthead">
                <div class="doh-header">
                    <a href="{{ path('doh_main_dashboard') }}">DoH</a>
                </div>
                <nav class="doh-nav">
                    {% block subnavigation %}{% endblock %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="pull-right">
                            <img src="{{ gravatar(app.user.email, 80) }}" class="avatar img-circle" data-toggle="tooltip" data-placement="left" title="Logged in as {{ app.user.username }}" />
                            <a href="{{ path('fos_user_security_logout') }}" class="doh-nav-item pull-right">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </div>
                    {% endif %}
                </nav>
            </header>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <aside class="doh-sidebar">
                    <nav class="doh-sidebar-nav">
                        <ul>
                            <li class="{{ _menu.active('doh_main_dashboard') }}" data-toggle="tooltip" data-placement="right" title="Dashboard">
                                <a href="{{ path('doh_main_dashboard') }}">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="{{ _menu.active('doh_infra_server_list') }}" data-toggle="tooltip" data-placement="right" title="Infrastructure">
                                <a href="{{ path('doh_infra_server_list') }}">
                                    <i class="fa fa-sitemap"></i>
                                    <span>Infrastructure</span>
                                </a>
                            </li>
                            <li><a href="#"><i class="fa fa-file-o"></i><span>test</span></a></li>
                            <li><a href="#"><i class="fa fa-list-alt"></i><span>test</span></a></li>
                            <li><a href="#"><i class="fa fa-windows"></i><span>test</span></a></li>
                            <li><a href="#"><i class="fa fa-linux"></i><span>test</span></a></li>
                            <li><a href="#"><i class="fa fa-info"></i><span>test</span></a></li>
                        </ul>
                    </nav>
                </aside>
            {% endif %}

            <div class="doh-content">
                <div class="container-fluid">
                    {% block content_full %}
                        <div class="row">
                            <div class="col-md-9">
                                {% block content %}{% endblock %}
                            </div>
                            <div class="col-md-3">
                                {% block content_side %}
                                    {{ render(controller('DOHInfraBundle:Default:stats')) }}
                                    <div class="sidebar-module sidebar-module-inset">
                                        <h4>About</h4>
                                        <p>
                                            DevOps Home is a place to store and document all infrastructure information.
                                            It keeps all your documentation in a structured order.
                                        </p>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/footer.min.js') }}"></script>
        {% endblock %}
        {{ render(controller('DOHMainBundle:KeyboardControl:index')) }}
    </body>
</html>
