{% extends '::list.html.twig' %}

{% block title %}Infra - Role{% endblock %}

{% block header %}
    {% embed ":Component:box_header.html.twig" %}
        {% block title %}Roles{% endblock %}
        {% block title_icon %}<i class="fa fa-paperclip"></i>{% endblock %}
        {% block actions %}
            <a class="btn btn-success btn-sm" href="{{ path('doh_infra_role_new') }}"><i class="fa fa-plus"></i> New</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block table_rows %}
    {% for role in roles %}
        <tr>
            <td>{{ role.id }}</td>
            <td>
                <a class="btn btn-xs btn-info" href="{{ path('doh_infra_role_detail', {id: role.id}) }}">
                    <i class="fa fa-search"></i> View
                </a>
            </td>
            <td>{{ role.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">
                No roles created yet. <a href="{{ path('doh_infra_role_new') }}">Create one now!</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
