{% extends 'DOHInfraBundle:Default:index.html.twig' %}

{% block title %}{{ parent() }} - New{% endblock %}

{% block content %}
    <div class="doh-block">
        <h2>{{ server.name }}</h2>
        <div class="doh-action">
            <ul class="list-inline">
                <li><a href="{{ path('doh_infra_edit', {id: server.id}) }}">Edit</a></li>
            </ul>
        </div>
        <table class="doh-spec-sheet">
            <tbody>
                <tr>
                    <th>Type:</th>
                    <td>{{ server.specSheet.type }}</td>
                    <th>OS:</th>
                    <td>{{ server.specSheet.operatingSystem }} - version</td>
                </tr>
                <tr>
                    <th>vCPU:</th>
                    <td>{{ server.specSheet.vcpu }}</td>
                    <th>RAM:</th>
                    <td>{{ server.specSheet.ram }} MB</td>
                </tr>
                <tr>
                    <th>Disk space:</th>
                    <td colspan="3">{{ server.specSheet.diskSpace }} GB</td>
                </tr>
                <tr>
                    <th colspan="4">Partition info:</th>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Filesystem</th>
                                    <th>Disk size</th>
                                    <th>Mount point</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for partition in server.specSheet.partitionInfo %}
                                    <tr>
                                        <td>{{ partition.filesystem }}</td>
                                        <td>{{ partition.size }} GB</td>
                                        <td>{{ partition.mount_point }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="doh-block doh-tabbed">
        <ul class="doh-tabs">
            <li class="active"><a href="#doh-infra-server-notes" role="tab" data-toggle="tab">Notes</a></li>
            <li><a href="#doh-infra-server-changelog" role="tab" data-toggle="tab">Changelog</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="doh-infra-server-notes">
                content1
            </div>
            <div class="tab-pane" id="doh-infra-server-changelog">
                content2
            </div>
        </div>
    </div>
{% endblock %}
