{% extends 'DOHInfraBundle:Default:index.html.twig' %}

{% block title %}{{ parent() }} - New{% endblock %}

{% block content %}
    <div class="doh-block">
        <h2>Servers</h2>
        <div class="doh-action">
            <ul class="list-inline">
                <li><a href="{{ path('doh_infra_new') }}">New</a></li>
            </ul>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                    <tr>
                        <td>{{ server.id }}</td>
                        <td><a href="{{ path('doh_infra_detail', {id: server.id}) }}">{{ server.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
