{% extends '::list.html.twig' %}

{% block title %}Infra - Guide{% endblock %}

{% block header %}
    {% embed ":Component:box_header.html.twig" %}
        {% block title %}Guides{% endblock %}
        {% block title_icon %}<i class="fa fa-file-o"></i>{% endblock %}
        {% block actions %}
            <a class="btn btn-success btn-sm" href="{{ path('doh_guide_guide_new') }}"><i class="fa fa-plus"></i> New</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block table_rows %}
    {% for guide in guides %}
        <tr>
            <td>{{ guide.id }}</td>
            <td>
                <a class="btn btn-xs btn-info" href="{{ path('doh_guide_guide_detail', {id: guide.id}) }}">
                    <i class="fa fa-search"></i> View
                </a>
            </td>
            <td>{{ guide.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">
                No guides created yet. <a href="{{ path('doh_guide_guide_new') }}">Create one now!</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
