{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form role="form" class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        {% if error %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                {{ error|trans({}, 'FOSUserBundle') }}
            </div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" autofocus="" required="required" name="_username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" class="form-control" value="{{ last_username }}">
        <input type="password" required="" name="_password"  placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" class="form-control">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>
        <button type="submit" name="_submit" class="btn btn-lg btn-primary btn-block">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
    </form>
{% endblock fos_user_content %}
