{% extends '::detail.html.twig' %}

{% block content_header %}
    {% include ":Component:header.html.twig" with {
    'title': 'Dashboard',
    'title_caption': 'caption',
    'breadcrumb': []
    } %}
{% endblock %}

{% block detail_full %}
    <div class="row">
        <div class="col-md-6">
            <section class="portlet grey">
                <header class="header">New servers</header>
                <div class="body">
                    <ul class="feed list-unstyled">
                        {% for server in servers %}
                            <li class="row">
                                <i class="col-sm-1 fa fa-hdd-o"></i>
                                <div class="body col-sm-8 ">
                                    <a href="{{ path('doh_infra_server_detail', {'id': server.id}) }}">{{ server.name }}</a>
                                </div>
                                <time class="col-sm-3">now</time>
                            </li>
                        {% else %}
                        <li class="row">
                            <div class="col-sm-12">
                                No servers created yet. <a href="{{ path('doh_infra_server_new') }}">Create one now!</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="portlet grey">
                <header class="header">New guides</header>
                <div class="body">
                    <ul class="feed list-unstyled">
                        {% for guide in guides %}
                            <li class="row">
                                <i class="col-sm-1 fa fa-hdd-o"></i>
                                <div class="body col-sm-8 ">
                                    <a href="{{ path('doh_guide_guide_detail', {'id': guide.id}) }}">{{ guide.name }}</a>
                                </div>
                                <time class="col-sm-3">now</time>
                            </li>
                        {% else %}
                            <li class="row">
                                <div class="col-sm-12">
                                    No guides created yet. <a href="{{ path('doh_guide_guide_new') }}">Create one now!</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
